/* ---------- LOGO VIEW ---------- */
.logo-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- LOGO ---------- */
.logo-icon {
    transform: scale(0);
    transform-origin: center center;
    animation: logo-scale-in-out 3.5s forwards;
}

/* ---------- LOGO ANIMATION ---------- */
@keyframes logo-scale-in-out {
    0% {
        transform: scale(0);
        animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    }

    25% {
        transform: scale(1);
    }

    75% {
        transform: scale(1);
        animation-timing-function: cubic-bezier(0.55, 0, 0.78, 0);
    }

    100% {
        transform: scale(0);
    }
}
