.system-text {
    font-size: x-large;
}

.terminal-icon {
    color: var(--color-primary);
    width: 400px;
    height: 400px;
}

.terminal-container {
    width: min(900px, 90%);
    height: 500px;
    margin-top: 0;
    border: 2px solid var(--color-primary);
    border-radius: 5pt;
    padding: 20px;
    padding-top: 0;
    overflow: hidden;
}

.terminal-instance {
    padding: 1%;
    width: 100%;
    height: 100%;
}


/* ---------- TERMINAL ICON ---------- */
.terminal-view-icon {
    transform: scale(0);
    transform-origin: center center;
    animation: terminal-icon-in 0.9s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

/* ---------- TERMINAL CONTAINER ---------- */
.terminal-view-container {
    transform: scale(0);
    transform-origin: center center;
    animation: terminal-container-in 1.1s cubic-bezier(0.22, 1, 0.36, 1) 0.15s forwards;
}

/* ---------- TERMINAL ICON IN ---------- */
@keyframes terminal-icon-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* ---------- TERMINAL CONTAINER IN ---------- */
@keyframes terminal-container-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
