/* ---------- VIEWS ---------- */
.cursor {
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* ---------- CENTRAL VIEW ---------- */
.central-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* /////////////////////////////////////////////////////////////// */
.text {
    color: var(--color-primary);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: monospace;
}

.display-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    color: var(--color-primary);
    width: 500px;
    height: 500px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 0;

}

.initial-icon {
    color: var(--color-primary);
    width: 1000px;
    height: 1000px;
}
